@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(245, 245, 245);
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin: 1rem 0;
}

.main {
    display: flex;
    justify-content: space-between;
}

.image {
    margin-left: 6rem;
    margin-top: 1rem;
}

.alpacaImage {
    height: 400px;
    width: 400px;
}

.accessories {
    margin-right: 14rem;
}

img {
    height: 400px;
    width: 400px;
}

.alpaca-img {
    position: absolute;
}

button {
    padding: 0.5rem 1.2rem;
    border-radius: 30px;
    border: 2px solid rgb(42, 134, 255);
    background-color: rgb(245, 245, 245);
    color: rgb(42, 134, 255);
    font-family: inherit;
    font-size: 1rem;
    margin: 0.2rem;
    cursor: pointer;
}

button:focus {
    background-color: rgb(42, 134, 255);
    color: #fff;
}

.random {
    position: relative;
    margin-top: 20px;    
}

.style {
    margin-bottom: 1rem;
    font-size: 0.7rem;
    display: inline;
}

select {
    border:2px solid rgb(42, 134, 255);
    padding: 10px;
    font-family: inherit;
    border-radius: 30px;
    color: black;
    background-color: rgb(245, 245, 245);
    margin: 0.4rem;
}